@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
  --font-title: "Momo Trust Display";
  --font-primary: "Open Sans";

  --color-darker: #252525;
  --color-dark: #3b3b3b;
  --color-light: #ffffff;
  --color-red: #ff0000;
  --color-green: #30be71;

  --shadow-box: 2px 4px 16px -2px rgba(0, 0, 0, 0.4);
}
